node_modules
docDist
build-doc/deploy-doc.sh
build-doc/dist
test-size
test-bundle
test/unit/coverage
package-lock.json
playground/temp
yarn.lock
.DS_Store
.vscode
.idea
*.swp
*.tgz
coverage
/fonts
/site
/package
*.tsbuildinfo
pnpm-lock.yaml
~*
.pnpm-debug.log
.history
